{% extends "shortener/base.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2">
  <h1>Account</h1>
  <div>
    <p>Username: {{ request.user.username }}</p>
    <p>You joined: {{ request.user.date_joined }}</p>
    <p>You've created {{ number_of_links }} links so far.</p>
  </div>
  <div>
    <a href="{% url 'shortener:password_change' %}">
      <button type="button" class="btn btn-default">Change password</button>
    </a>
    <form method="POST" class="right pull-left" style="margin-right: 20px">
      {% csrf_token %}
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Delete account</button>

      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Delete account.</h4>
            </div>
            <div class="modal-body">
              <h3>Are you sure you want to delete your account?</h3>
              <p>Type <i>delete</i>:<input type="text" name="confirmation" style="margin-left: 10px"></p>
              <p><input type="checkbox" name="links"> Delete all links as well</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">TERMINATE</button>
            </div>
          </div>
        </div>
      </div> <!-- modal -->
    </form>
  </div>
  {% if links %}
    <h1>Your links</h1>
    <table class="table background table-bordered">
      <tr>
        <th>#</th>
        <th>Link</th>
        <th>URL</th>
        <th>Copy</th>
        <th>Created</th>
        <th>Clicks</th>
        <th>Last clicked</th>
      </tr>
      {% for url in links %}
        <tr>
          <th>{{ forloop.counter0|add:links.start_index }}</th>
          <th>{{ url.url }}</th>
          <th id="link{{ forloop.counter }}">
            <a href="http://{{ site }}/{{ url.shortcode }}">{{ site }}/{{ url.shortcode }}</a>
          </th>
          <th>
            <button type="button" onclick="copy('link{{ forloop.counter }}')"
                    class="btn btn-success">Copy</button>
          </th>
          <th>{{ url.created|date:"d.m.Y" }}</th>
          <th>{{ url.clicks }}</th>
          <th>{{ url.last_clicked|date:"d.m.Y G:i" }}</th>
        </tr>
      {% endfor %}
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if links.has_previous %}
          <a href="?page={{ links.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
          Page {{ links.number }} of {{ links.paginator.num_pages }}.
        </span>
        {% if links.has_next %}
          <a href="?page={{ links.next_page_number }}">Next</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
</div>
{% endblock content %}

{% load static %}
{% block scripts %}
  <script src="{% static 'js/griv.js' %}"></script>
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock scripts %}
