html, body {
  height: 100%;
}

body {
  background-image: url(http://www.mrwallpaper.com/wallpapers/mountains-scenery-1920x1200.jpg);
}

a, p {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.vertical-center {
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.transparent {
  background-color: transparent;
  border: 0;
}

.label-inline label {
  display: inline-block;
  width: 140px;
}
